<%# Ansare page %>
<div>
  <div class="dialog">
  <%# Display your question %>
  <p><%= @question %></p>
  <p> - You </p>
  </div>
  
  <div class="dialog answer">
    <p><%= @answer %></p>
    <p> -Your coach</p>
  </div>
</div>

<%= link_to "As a new question", ask_path %>
