<%# Ansare page %>
<div>
  <div>
  <%# Display your question %>
  <p><%= @question %></p>
  <p> - You </p>
  
  </div>
    <p><%= @answer %></p>
    <p> -Your coach</p>
  </div>
</div>

<button><a href="/">Ask a new question</a></button>
